:root {
--primary-color: #071821;
--secondary-color: #68c06c;
--background-color: #306850;
--text-color: #ffffff;

--font-family: 'Inter', system-ui, sans-serif;
--base-font-size: 20px;
}

.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Jersey 15', system-ui;

    
    font-size: var(--base-font-size);
    color:var(--text-color);
    background-color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-align: center;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a :hover{
    text-decoration: underline;
    color: var(--primary-color);
}

nav a :hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.container{
    width: 90%;
    max-width: var(--max-width);
    margin: 10 auto;
    padding: var(--spacing-medium);
}

div#page-content {
    display: block;
    position:relative;
    text-align: center;
    z-index:2;
}


.formButton [type=submit]{
    background-color: var(--secondary-color); /* Green background */
    border: none; /* Remove borders */
    color: var(--text-color); /* White text */
    padding: 12px 24px; /* Space inside button */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    transition-duration: 0.3s; /* Smooth hover effect */
}

.formButton [type=submit]:hover{
    background-color: var(--background-color);
    text-decoration: underline;
}

.moves{

    table{
        
        width: 50%;
        border-collapse: collapse;
        padding-bottom: 50%;
        margin-left: 380px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    th, tr {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    th {
        background-color: var(--primary-color);
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #d6eeee;
    }
}

.moveset{

    table{
        
        width: 20%;
        border-collapse: collapse;
        padding-bottom: 50%;
        margin-left: 55%;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: inset;
    }
    
    th, tr {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    th {
        background-color: var(--primary-color);
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #d6eeee;
    }

}

.img-content{
        position: absolute;
        right: 50%;
        padding-bottom: 20px;
    }


